*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #f0f4f8;
}

header{
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

header .logo{
    height: 100px;
    display: flex;
    margin-left: 10px;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav li{
    margin: 30px;
}

header nav li a{
    color: white;
    text-decoration: none;
}


header h2{
    align-items: center;
    display: flex;
}

.sobre{
    text-align: justify;
    padding: 50px;
    border-bottom: 1px solid black;
}

.sobre h2{
    text-align: center;
    margin-bottom: 20px;
}

.sobre p{
    margin-bottom: 10px;
}

.skins{
    text-align: center;
    padding: 50px 0;
}

.skins h2{
    margin-bottom: 30px;
}

.skins .imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; /* Centraliza as imagens horizontalmente */
    margin: 10px;
}

.skins .imagens img {
    width: 100%; /* As imagens ocuparão 100% da largura da célula da grid */
    height: 100%; /* As imagens ocuparão 100% da altura da célula da grid */
    object-fit: cover; /* Garante que a imagem se ajuste à célula sem distorcer */
}

.precos{
    padding: 50px;
}

.precos h2{
    margin-bottom: 30px;
    text-align: center;
}

.precos table{
    width: 100%;
    border-collapse: collapse;
}

.precos, .precos th, .precos td{
    border: 1px solid #305f72;
}
.precos th{
    background-color: red;
}

.precos th, .precos td{
    text-align: center;
    padding: 3px;
}

.precos tr:nth-child(odd){

    background-color: beige;
}

.precos tr:nth-child(even){
    background-color: bisque;
}

.contato{
    padding: 50px;
}

.contato h2{
    text-align: center;
    margin-bottom: 30px;
}

.contato form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contato label{
    margin-bottom: 10px;
}

.contato textarea{
    margin-bottom: 10px;
    font-size: 15px;
}
.contato button {
    padding: 10px;
    background-color: #557a83; /* Borda azul médio */
    color: #fff;
    border: none;
    cursor: pointer;
}

.contato button:hover{
    background-color: gray;
}

footer{
    text-align: center;
    background-color: black;
    padding: 20px;
}

footer p{
    color: white;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

